<div class="container caja">
    <form [formGroup]="formRegistro" (ngSubmit)="onSubmit()">
      <h3 class="titulo-principal">REGISTRAR</h3>
      <div class="container">
        <h5>Datos</h5>
        <div class="input-group input-group-icon">
          <input formControlName="nombres" type="text" placeholder="Nombre completo"/>
          <div class="input-icon"><i class="fa fa-user"></i></div>
        </div>
        <div class="input-group input-group-icon">
          <input formControlName="correo" type="email" placeholder="Correo electrónico"/>
          <div class="input-icon"><i class="fa fa-envelope"></i></div>
        </div>
        <div class="input-group input-group-icon">
          <input formControlName="password" type="password" placeholder="Contraseña"/>
          <div class="input-icon"><i class="fa fa-key"></i></div>
        </div>
      </div>
      <div class="container">
      <div class="col-half">
      
        </div>
      </div>
      
      <div class="container">
        <div class="col-half">
          <h5>DPI</h5>
          <div class="input-group input-group-icon">
            <input formControlName="cui" type="text" placeholder="CUI"/>
            <div class="input-icon"><i class="fa fa-credit-card"></i></div>
          </div>
        </div>
        <div class="col-half">
          <h5>Verificación (obligatorio)</h5>
          <div class="input-group input-group-icon">
            <input formControlName="telefono" type="text" placeholder="Teléfono móvil"/>
            <div class="input-icon"><i class="fa fa-phone"></i></div>
          </div>
        </div>
      </div>
      <div class="container">
        <input class="boton" type="submit" value="Registrar"> 
      </div>
      <div class="container">
        <a href="#" class="link" routerLink="/iniciar-sesion">Iniciar Sesión</a>
      </div>
    </form>
  </div>